* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Winky Sans', sans-serif;
    font-optical-sizing: auto;
    text-shadow: 4px 4px 4px #aaa;
    color: darkblue;
}

body {
    line-height: 1.6;
    background-image: url('imagenes/fondoP.svg'); 
    background-size: cover;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

header {
    width: 100%;
    background-color: darkblue;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none; 
    padding: 10px;
}

nav ul li a:hover {
    color: darkblue;
    background-color: lightblue;
    border-radius: 10%;
}

#hero {
    margin-top: 50px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

#hero p {
    font-size: 20px;
}

#projects {
    margin-top: 100px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#projects h2 {
    margin-top: 50px;
    margin-left: 20px;
}

.project {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 25px;
    margin-top: 200px;
}

#perfil {
    height: 350px;
    width: 320px;
    background-color: grey;
    border-radius: 75%;
    border-style: solid;
    border-color: black;
}

#contact-form {
    width: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#contact-form label {
    margin-top: 10px;
    font-size: 20px;
}

#contact-form input textarea button {
    width: 100%;
    margin-top: 5px;
    border: 5px solid #ccc;
    border-radius: 10%;
    
}

#name {
   font-size: 20px; 
}

#email {
    font-size: 20px; 
}

#message {
    height: 200px;
    font-size: 20px; 
}

#contact-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    width: 70px;
    font-size: 20px;
}

#contact-form button:hover {
    background-color: #0056b3;
}

.project img {
    height: auto;
    width: 100%;
}

#about {
    margin-left: 10%;
    text-align: center;
    margin-right: 10%;
}

#about p {
    font-size: 25px;
}

#skills {
    margin-top: 200px;
    margin-left: 20%;
    display: flex;
}

#skills ul {
    margin-left: 50px;
    padding-top: 15px;
}

#skills ul li {
    font-size: 25px;
}

#skills-img {
    margin-top: 20px;
    margin-left: 500px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#skills-img img {
    height: 120px;
    width: 120px;
    padding: 10px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
    #skills {
        margin-left: 15%;
    }

    #skills-img {
        margin-top: 10px;
        margin-left: 40%;
        width: 75%;
        gap: 5px;
    }

    #skills-img img {
        height: 100px;
        width: 100px;
        padding: 5px;
    }
    
}

@media all and (max-width: 599px) {

    header {
        padding: 10px;
    }

    nav ul li a {
        font-size: 12.7px;
        padding: 5px;
    }

    #skills {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #skills-img {
        margin-top: 50px;
        margin-left: 5%;
        width: 100%;
    }

    #skills-img img {
        height: 80px;
        width: 80px;
        padding: 0;
    }

    #contact {
        width: 80%;
    }

    #contact-form {
        width: 100%;
        margin-left: 7px;
        padding-bottom: 5px;
    }

    #about {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #about p {
        font-size: 18px;
    }

    #contact-form input textarea button {
        margin-top: 5px;
    }
    
    #name {
       font-size: 18px; 
    }
    
    #email {
        font-size: 18px; 
    }
    
    #message {
        height: 150px;
        font-size: 18px; 
    }
}